#oncore-cache-clear {
    margin-bottom: 30px;
}

.recap-entity-list a {
    color: #000066;
    font-weight: bold;
}

.redcap-entity-list .row-oncore-only {
    background-color: #fff3cd !important;
}

.redcap-entity-list .row-redcap-only {
    background-color: #cce5ff !important;
}

.redcap-entity-list .row-data-diff {
    background-color: #d4edda !important;
}

.oncore-pull-legend {
    font-size: 11px;
    line-height: 10px;
    margin-bottom: 25px;
}

.legend-section .alert {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0 3px 3px 0;
    display: inline-block;
}

.legend-section .alert-warning {
    border-color: #ffeeba !important;
}

.legend-section .alert-success {
    border-color: #c3e6cb !important;
}

.legend-section .alert-primary {
    border-color: #b8daff !important;
}
